<% @game = Game.find_by_name("Snake") %>

<p class="highScore1">
	Overall High Score: <span id="overallHighScore"><%= @game.high_score %></span>
</p>
<p class="highScore1">
	Placed by: <span id="overallHighScorePlacer"><%= @game.high_score_placer %></span>
</p>