<h1>Server Browser: Pong</h1>
<div>
	<%= link_to 'Open Server', '/pong' %>
	<br>
	<% games = TimeWasterController.new.all_pong_games %>
	
	<ul>
		<% games.length.times do |id|%>
			<% if TimeWasterController.new.pong_games(id).game_began == false %>
				<li><%= link_to TimeWasterController.new.pong_games(id).player_1_username, '/pong/game/' + id.to_s %></li>
			<% end %>
		<% end %>
	</ul>
	
	<br>
	<%= link_to "Back", '/productivity' %>
</div>