<h1>Pong!</h1>

<% if TimeWasterController.new.pong_games(params[:id].to_i).player_1_username != current_user.username %>
	<% player_num = 2 %>
	<% TimeWasterController.new.pong_games(params[:id].to_i).player_2_username = current_user.username %>
	<% opposing_username = TimeWasterController.new.pong_games(params[:id].to_i).player_1_username %>
	<% player_1_username = TimeWasterController.new.pong_games(params[:id].to_i).player_1_username %>
	<% player_2_username = current_user.username %>
<% else %>
	<% player_num = 1 %>
	<% player_1_username = current_user.username %>
	<% player_2_username = "Empty" %>
<% end %>

<div>
	<div id="startGame">
		<%= link_to 'Start Game', '/pong/game/' + params[:id] + '/begin', remote: true %>
	</div>

	<div style="margin: 0 auto; width: 90%;display: inline-block;">
		<div style=" top:0;  text-align: right; font-size: 25px; width: 25%;float: left;">
			<p id="player1Score" class="highScore"><span style="color: #FFF;"><%= TimeWasterController.new.pong_games(params[:id].to_i).player_1_username %>: 0</span></p>
		</div>
		
		<canvas id="canvas" height="300" width="500" align="center" style="border: 3px solid;position: relative;"></canvas>	
		
		<div style=" top:0; text-align: left; font-size: 25px; width: 25%;float: right;">
			<p id="player2Score" class="highScore"><span style="color: #FFF;"><%= TimeWasterController.new.pong_games(params[:id].to_i).player_2_username %>: 0</span></p>
		</div>
	</div>
	<br>
	
	<div id="newGame">
		<%= link_to "New Game!", '/pong' %>
		<br>
	</div>
	<%= link_to "Back", '/pong/servers' %>
</div>

<script>



let gameId = <%= params[:id].to_i %>;

let player1 = "<%= player_1_username %>";
let player2 = "<%= player_2_username %>";

let canvas = document.getElementById("canvas");
let canvasContext = canvas.getContext("2d");

let ballRadius = <%= TimeWasterController.new.pong_games(params[:id].to_i).ball_radius %>;
let ballPositionX = 50;
let ballPositionY = 50;

let playerNum = <%= player_num %>;

let playerPosition1 = 0;
let playerPosition2 = 0;

let playerScore1 = 0;
let playerScore2 = 0;

let winner = "Invalid";

let postInterval;
let getInterval;
let updateInterval;
let initialInterval;

let modifier = 0;

let gameBegan = false;
let gameEnded = false;

let player1ScoreTracker = document.getElementById("player1Score");
let player2ScoreTracker = document.getElementById("player2Score");

canvasContext.rect(0,0,500,300);
canvasContext.fillStyle = "black"
canvasContext.fill();

$("#startGame").click(function() {
	getUpdateFromServ();
	document.getElementById("startGame").style.display = "none";
});

window.onload = () => {
	if (playerNum != 1)
		document.getElementById("startGame").style.display = "none"
	
	document.getElementById("newGame").style.display = "none";
	
	window.addEventListener("mousemove", function (event) 
	{
		if (playerNum === 1)
			playerPosition1 = event.clientY - 200;
		else if (playerNum === 2)
			playerPosition2 = event.clientY - 200;
	
	}, true);
	
	postInterval = setInterval(sendPosition, 1000/14);
	getInterval = setInterval(getUpdateFromServ, 1000/14);
	updateInterval = setInterval(update, 1000/60);
	initialInterval = setInterval(awaitGameStart, 100);
}

function update() {
	if (gameBegan)
	{
		if (initialInterval != null)
			clearInterval(initialInterval);
	
		if (winner != "Invalid") {
			clearInterval(postInterval);
			clearInterval(getInterval);
			clearInterval(updateInterval);
			gameEnded = true;
		}	
		
		canvasContext.fillStyle = "black";
		canvasContext.fillRect(0,0,500,300);
		
		canvasContext.fillStyle = "grey";
		canvasContext.fillRect(245, 0, 10, 300);
		canvasContext.fillRect(0, playerPosition1 - 5, 5, 40);
		canvasContext.fillRect(495, playerPosition2 - 5, 5, 40);
		
		canvasContext.fillStyle = "white";
		canvasContext.fillRect(ballPositionX - ballRadius/2, ballPositionY - ballRadius/2, ballRadius, ballRadius);
		
		playerPosition1 += modifier;
		
		modifier = 0;
		
		if (gameEnded)
			gameOver();
	}
}

function gameOver() {
	canvasContext.fillStyle = "grey";
	canvasContext.fillRect(0,0,500,300);
	
	canvasContext.fillStyle = "gold";
	canvasContext.font = "60px Lucida Sans Unicode"
	canvasContext.textAlign = "center";
	canvasContext.fillText(winner, canvas.width/2, 100)
	canvasContext.fillText("wins!", canvas.width/2, 200)
	
	document.getElementById("newGame").style.display = "inline-block";
}

function sendPosition() {
	if (gameBegan)
	{
		let playerPosition = 0;
		let username = "";
		
		if (playerNum === 1)
		{
			playerPosition = playerPosition1;
			username = player1;
		}
		else
		{
			playerPosition = playerPosition2;
			username = player2;
		}
		
		$.ajax({
			url: '/pong/update/' + <%= params[:id].to_i %>,
			dataType: "json",
			method: "post",
			data: {
				json: {
					id: gameId,
					player_position: playerPosition,
					player_num: playerNum,
					username: username
				}
			}
		});
	}
}

function getUpdateFromServ() {
	if (gameBegan)
	{
		$.ajax({
			url: '/pong/update/get/' + <%= params[:id].to_i %>, 
			dataType: "json", 
			data: {},
			success: function(data) {
				if (playerNum == 2)
					playerPosition1 = data.player_position_1;
				else if (playerNum == 1)
					playerPosition2 = data.player_position_2;
				
				playerScore1 = data.player_score_1;
				playerScore2 = data.player_score_2;
				
				ballPositionX = data.ball_position_x;
				ballPositionY = data.ball_position_y;
				winner = data.winner;
				
				player1ScoreTracker.innerHTML = '<span style="color: #FFF;">' + player1 + ':</span> ' + playerScore1;
				player2ScoreTracker.innerHTML = '<span style="color: #FFF;">' + player2 + ':</span> ' + playerScore2;
			}
		});
	}
}

function awaitGameStart()
{
	$.ajax({
		url: '/pong/status/' + <%= params[:id].to_i %>, 
		dataType: "json", 
		data: {},
		success: function(data) {
			gameBegan = data.game_began;

			player1ScoreTracker.innerHTML = '<span style="color: #FFF;">' + data.player_1_username + ':</span> 0';
			player2ScoreTracker.innerHTML = '<span style="color: #FFF;">' + data.player_2_username + ':</span> 0';

			player1 = data.player_1_username;
			player2 = data.player_2_username;
		}
	});
}

</script>