<h1>Snake!</h1>
<div>
<div style="margin: 0 auto; position: relative;">
	<div style="position: absolute; top:0; left:50; text-align: right; font-size: 25px;">
		<p id="score" class="highScore"></p> 
		<p class="highScore">Personal High Score: <span id="personalhighScore">
			<% @game_score = current_user.game_scores.find_by_name("Snake") %>
			<% if  @game_score != nil %>
				<%= @game_score.high_score %>
			<% else %>
				1
			<% end %>
		 </span></p>
		<br>
		 <span id="refresh_me">
			<%= render partial: 'snake_score' %>
		 </span>
		 <br>
		<%= link_to 'Back', '/productivity' %>
	</div>
<canvas id="gc" width="512" height="512" align="center"></canvas>
</div>
	<%= form_tag 'non_submitable' do %>
		<%= hidden_field_tag :username, current_user.username %>
	<% end %>
	<%= form_tag '/snake_score', method: 'get', id: 'update_high_score', authenticity_token: true, remote: true do %>
	<% end %>
	<%= form_tag '/time_waster', method: 'post', id: 'submit_field', authenticity_token: true, remote: true do %>
		<%= hidden_field_tag :high_score %>
		<%= hidden_field_tag :name %>
	<% end %>
</div>
<script>

let board = [];

let snakeTiles = [];

let framerate = 6;
let defaultFramerate = 6;
let playerLength = 0;
let updateTimer;

let highScore = 1;
let playerDirection = {dirX: -1, dirY: 0} 
let multiplier = 16;

let canTurn = true;

let scoreCounter = document.getElementById('score');
let personalHighScoreCounter = document.getElementById('personalhighScore');
let highScoreInput = document.getElementById('high_score')

let currentUsername = document.getElementById('username');

let previousHighScore = 0;

window.onload = () => 
{
	document.getElementById('name').value = "Snake"

	workingCanvas = document.getElementById('gc');
	
	canvasContext = workingCanvas.getContext('2d');
	
		framerate = defaultFramerate;
	
	window.addEventListener("keydown", function (event) 
	{
		if (event.defaultPrevented) 
		{
			return;
		}
		
		if (canTurn)
		{
			canTurn = false;
		
			switch (event.key) 
			{
				case "ArrowDown":
					if (playerDirection.dirY != -1 || playerLength < 2)
					{
						playerDirection = {dirX: 0, dirY: 1};
					}
					break;
				case "ArrowUp":
					if (playerDirection.dirY != 1 || playerLength < 2)
					{
						playerDirection = {dirX: 0, dirY: -1};
					}
					break;
				case "ArrowLeft":
					if (playerDirection.dirX != 1 || playerLength < 2)
					{
						playerDirection = {dirX: -1, dirY: 0};
					}	
					break;
				case "ArrowRight":
					if (playerDirection.dirX != -1 || playerLength < 2)
					{
						playerDirection = {dirX: 1, dirY: 0};
					}	
					break;
				default:
					canTurn = true;
					return;
			}
		}

  // Cancel the default action to avoid it being handled twice
	event.preventDefault();
	}, true);
	
	highScore = personalHighScoreCounter.innerHTML;
	highScoreInput.value = highScore;
	previousHighScore = highScore

	let highScoreUpdateInterval = setInterval(refreshPartial, 5000);
	
	setup();
}

function refreshPartial() {
	$.ajax({ url: '/snake_score'});
}

unload: function clearPartialUpdate() {
	clearInterval(highScoreUpdateInterval);
}

function setup()
{
	framerate = defaultFramerate;

	updateTimer = setInterval(update, 1000/framerate);
		
	for (let x = 0; x < workingCanvas.height/multiplier; ++x)
	{
		for (let y = 0; y < workingCanvas.width/multiplier; ++y)
		{
			board.push({locX: x, locY: y});
		}
	}

	apple = board[Math.floor(Math.random()*board.length)];
	
	snakeTiles = [{locX: 30, locY: 30}];
	playerLength = 1;
	
	scoreCounter.innerHTML = "Score: " + playerLength;
}

function update()
{
	// Called every frame
	
	handlePlayerMovement();
	
	let tailHit = false;
	
	snakeTiles.forEach((coordinate) => {
		if (coordinate != snakeTiles[0])
		{
			if (coordinate.locX === snakeTiles[0].locX && coordinate.locY === snakeTiles[0].locY)
			{
				tailHit = true;
			}
		}
	});
	
	if (snakeTiles[0].locX >= workingCanvas.width/multiplier || snakeTiles[0].locX < 0 || snakeTiles[0].locY >= workingCanvas.height/multiplier || snakeTiles[0].locY < 0 || tailHit)
	{
		canvasContext.fillStyle = "#000";
		canvasContext.fillRect(0,0,workingCanvas.height, workingCanvas.width);
	
		die();
	}
	else
	{	
		if (snakeTiles[0].locX === apple.locX && snakeTiles[0].locY === apple.locY)
		{
			apple = board[Math.floor(Math.random()*board.length)];
			score();
		}
	
		canvasContext.fillStyle = "blue";
		canvasContext.fillRect(0,0,workingCanvas.height, workingCanvas.width);
		
		canvasContext.fillStyle = "#000";
		board.forEach((coordinate) => { canvasContext.fillRect(coordinate.locX * multiplier, coordinate.locY * multiplier, multiplier - 1, multiplier - 1); });
		
		canvasContext.fillStyle = "red";
		canvasContext.fillRect(apple.locX * multiplier, apple.locY * multiplier, multiplier - 2, multiplier - 2);
		
		if (highScore === playerLength)
			canvasContext.fillStyle = "yellow";
		else
			canvasContext.fillStyle = "green";
			
		snakeTiles.forEach((coordinate) => { canvasContext.fillRect(coordinate.locX * multiplier, coordinate.locY * multiplier, multiplier - 4, multiplier - 4); });
	}
}

function handlePlayerMovement()
{
	let newTile = {locX: snakeTiles[0].locX + playerDirection.dirX, locY: snakeTiles[0].locY + playerDirection.dirY};

	snakeTiles.unshift(newTile);
	
	if (snakeTiles.length > playerLength)
		snakeTiles = snakeTiles.slice(0, playerLength);
	
	canTurn = true;
}

function score()
{
	playerLength++;
	framerate += 0.2;
	
	clearInterval(updateTimer);
	updateTimer = setInterval(update, 1000/framerate);
	
	scoreCounter.innerHTML = "Score: " + playerLength;
	
	if (playerLength > highScore)
	{
		highScore = playerLength;
		personalHighScoreCounter.innerHTML = highScore;
		highScoreInput.value = highScore;
		
		if (previousHighScore != highScore)
		{
			previousHighScore = highScore
			document.getElementById('submit_field').submit();
			
			if (highScore > document.getElementById("overallHighScore").innerHTML)
			{
				document.getElementById("overallHighScore").innerHTML = highScore;
				document.getElementById("overallHighScorePlacer").innerHTML = currentUsername.value;
			}
		}
	}
}

function die()
{

	// Called every time the snake collides with it's own tail
	playerDirection = {dirX: -1, dirY:0}
	
	refreshPartial();
	
	clearInterval(updateTimer);
	setup();
}

</script>