<h1>Sign In Page</h1>
<div>
<%= form_tag '/login' do %>
	<% if @user && @user.errors.any? %>
			<p style="color: red;">
				<% for msg in @user.errors.full_messages %>
					<br><%= msg %>
				<% end %>
			</p>
	<% end %>
	<div>

	<div>
		<%= label_tag :username %><br>
		<%= text_field_tag :username %>
	</div>

	<div>
		<%= label_tag :password, "Password" %><br>
		<% if  @user.errors.any? %>
			<p style="color: gray; font-size: 13px;">Passwords use a mix of numbers, uppercase letters, and lowercase letters</p>
		<% end %>
		<%= password_field_tag :password %>
	</div>
	
	<div><%= submit_tag "Sign In" %></div>
<% end %>
</div>