<h1>Edit your info</h1>
<div>
<%= form_tag '/user/' + @user.username.to_s + '/edit' do %>
	
	<% if @user.errors.any? %>
		<div class="error_messages">
			<table>
				<tr>
					<th>Form is invalid</th>
				</tr>
				<% for msg in @user.errors.full_messages %>
					<tr><td><%= msg %></td></tr>
				<% end %>
			</table>
		</div>
	<% end %>
	<div>
		<%= label_tag :email, "Email Address" %>
		<br>
		<%= email_field_tag :email, @user.email %>
	</div>
		<div>
		<%= label_tag :address, "Address" %>
		<br>
		<%= text_field_tag :address, @user.address %>
	</div>	
		<div>
		<%= label_tag :city, "City" %>
		<br>
		<%= text_field_tag :city, @user.city %>
	</div>	
		<div>
		<%= label_tag :state, "State" %>
		<br>
		<%= collection_select :state, :state, User::STATES, :to_s, :to_s, :selected => @user.state %>
	</div>	
		<div>
		<%= label_tag :zip_code, "Zip" %>
		<br>
		<%= text_field_tag :zip_code, @user.zip_code %>
	</div>	
	<div>
		<%= label_tag :current_password, 'Current password' %>
		<br>
		<%= password_field_tag :current_password %>
	</div>
	<div>
		<%= label_tag :new_password, "New Password" %>
		<p style="color: gray; font-size: 13px;">Please use a mix of numbers, uppercase letters, and lowercase letters</p>
		<%= password_field_tag :new_password %>
	</div>	
	<div>
		<%= label_tag :password_confirmation, 'Confirm Password' %>
		<br>
		<%= password_field_tag :password_confirmation %>
	</div>
	<div><%= submit_tag "Update Account" %></div>
<% end %>

<%= link_to 'Back', '/user/' + @user.username %>
<br>
</div>