<h1>Welcome to the User Management Page</h1>

<div>
<% unless current_user %>
	<%= link_to 'Sign Up', new_user_path %>
<% end %>
<% if User.exists? %>
	<table>
		<tr>
			<th>Username</th>
			<th>Email Address</th>
			<th colspan="2">Actions</th>
		</tr>
		<% User.find_each do |user|%>
			<tr>
				<td><%= user.username %></td>
				<td><%= user.email %></td>
				<td><%= link_to 'Update User Info', '/user/' + user.username + '/edit' %></td>
				<td><%= link_to 'Delete User', user_path(user), method: :delete, data: { confirm: 'Delete user?' } %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<p>
		There are currently no registered users.
	</p>
<% end %>
</div>