<h1>Sign Up</h1>
<div>
<%= form_for @user do |form| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			Form is invalid
			<p style="color: red;">
				<% for msg in @user.errors.full_messages %>
					<br><%= msg %>
				<% end %>
			</p>
		</div>
	<% end %>
	<div>
		<%= form.label :username, "Username" %>
		<br>
		<%= form.text_field :username %>
	</div>
	<div>
		<%= form.label :email, "Email Address" %><br>
		<%= form.email_field :email %>
	</div>
	<div>
		<%= form.label :password, "Password" %>
		<p style="color: gray; font-size: 13px;">Please use a mix of numbers, uppercase letters, and lowercase letters</p>
		<%= form.password_field :password %>
	</div>
	<div>
		<%= form.label :password_confirmation, "Password Confirmation" %>
		<br>
		<%= form.password_field :password_confirmation %>
	</div>
	<div>
		<%= form.label :address, "Address" %><br>
		<%= form.text_field :address %>
	</div>
	<div>
		<%= form.label :city, "City" %><br>
		<%= form.text_field :city %>
	</div>
	<div>
		<%= form.label :state, "State" %><br>
		<%= form.collection_select :state, User::STATES, :to_s, :to_s %>
	</div>
	<div>
		<%= form.label :zip_code, "Zip" %><br>
		<%= form.text_field :zip_code %>
	</div>
	<div><%= form.submit %></div>

	<%= link_to 'Back', users_path %>
<% end %>
</div>