<h1>Your info</h1>
<div>
	<table>
		<tr><td>Username: <%= @user.username %></td></tr>
		<tr><td>Email Address: <%= @user.email %></td></tr>
		<tr><td>Address: <%= @user.address %></td></tr>
		<tr><td>City: <%= @user.city %></td></tr>
		<tr><td>State: <%= @user.state %></td></tr>
		<tr><td>Zip: <%= @user.zip_code %></td></tr>
		<tr><td><%= link_to "Update Info", '/user/' + @user.username + '/edit' %></tr>
		<tr><td><%= link_to 'Close Account', user_path(@user),class: 'error', method: :delete, data: { confirm: 'Close account? All your funds will be forfeited.' } %></td></tr>
	</table>
	<br>
	<%= link_to 'Back', '/' %>
</div>