<h1>Welcome to FCBanking!</h1>
<div>
	<% if current_user %>
		<h3>Welcome <%= current_user.username.capitalize %>!<h3>
		<br>
		<div><%= link_to 'View your accounts', accounts_path %></div>
		<div><%= link_to 'View your information', '/user/' + current_user.username %></div>
		<div><%= link_to 'Waste Time', '/productivity', method: :get%></div>
	<% else %>
		<h3>Please sign in to access your accounts.</h3>
	<% end %>
</div>