input[type=text], select {
    width: 20%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 20%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 20%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 15px;
}

input[type=submit]:hover {
    background-color: #45a049;
	font-size: 16px;
}

div {
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 20px;
	color: #000;
}

body {
	background-color: #3CBC8D;
	color: #FFF;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

th, td{
    margin: 8px 0;
    border: 2px solid #bbb;
    border-radius: 10px;
    box-sizing: border-box;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	
}

table tr:nth-child(even) {
	#background-color: #bdfde2;
}

table tr:nth-child(odd) {
	#background-color: #bdfdcc;
}

table {
    margin-left:auto; 
    margin-right:auto;
  }
  
a:link {
	color: #737373;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
	color: #737373;
}

a:hover {
    text-decoration: underline;
	color: #aaa;
}

a:active {
    text-decoration: underline;
	color: #000;
}

a.error:link {
	color: red;
    text-decoration: none;
}

a.error:visited {
    text-decoration: none;
	color: red;
}

a.error:hover {
    text-decoration: underline;
	color: red;
}

a.error:active {
    text-decoration: underline;
	color: ted;
}

p.highScore {
	margin: auto;
	padding: 2px 2px 2px 2px;
	color: black; 
	background-color: #3CBC8D; 
	border: 3px solid #ccc; 
	border-radius: 4px;
}

p.highScore1 {
	margin: auto;
	padding: 2px 2px 2px 2px;
	color: black; 
	background-color: #3CBC8D; 
	border: 3px solid #ccc; 
	border-radius: 4px;
}