<h1>Recent Transactions</h1>

<div>
	<div style="display: inline-block;">
	<%= link_to 'Make a Transaction', '/accounts/' + params[:id].to_s + '/transactions/new' %> | 
	Current Balance: <%= number_to_currency(@account.balance, :unit => "$") %>
	</div>
	<br>
	<br>
	<table>
		<% counter = 0 %>
		<% for transaction in @transaction.reverse do %>
			<% counter += 1 %>
			<% if counter > 15 %>
				<% break %>
			<% end %>
			<% if transaction.operator == nil || transaction.operator == "+" %>
				<tr><td style="color: green;"><%= transaction.transaction_time %> - <%= transaction.target %>: <%= number_to_currency(transaction.transaction_amount, :unit => "$") %></td></tr>
			<% else %>
				<tr><td style="color: red;"><%= transaction.transaction_time %> - <%= transaction.target %>: <%= number_to_currency(transaction.transaction_amount, :unit => "$") %></td></tr>
			<% end %>
		<% end %>
	</table>
	<br>
	<%= link_to 'Back to Account', '/accounts/' + params[:id] %>
</div>