<h1>New Transaction</h1>

<div>
	<% path_string = '/accounts/' + params[:id] + '/transactions/new' %>
	<%= form_tag path_string do %>
		<div>
			<%= label_tag :target, "Reason for Transaction" %><br>
			<%= collection_select  :target, :target, Transaction::TRANSACTION_TYPES, :to_s, :to_s %>
		</div>
		<div>
			<%= label_tag :transaction_amount, "Amount" %><br>
			$<%= number_field_tag :transaction_amount %>
		</div>
		<div>
			<%= submit_tag "Create Transaction" %>
		</div>
	<% end %>
	<%= link_to 'Back To Account', '/accounts/' + params[:id] %>
</div>