<h1>Make a Transfer</h1>
<div>
	<%= form_tag '/accounts/transactions/transfer' do %>
		<div>
			<% account_names = [] %>
			
			<% for account in current_user.accounts do %>
				<% account_names << account.account_name %>
			<% end %>
		
			<%= label_tag :source, "Source Account" %><br>
			<%= collection_select :source, :source, account_names, :to_s, :to_s %>
		</div>
		<div>
			<%= label_tag :amount, "Amount to Transfer" %><br>
			$<%= number_field_tag :amount, :transaction, value: 0, step: 0.01 %>
		</div>
		<div>
			<%= label_tag :target, "Target Account" %><br>
			<%= collection_select :target, :target, account_names, :to_s, :to_s %>
		</div>
		<div>
			<%= submit_tag "Transfer Funds" %>
		</div>
	<% end %>
	<br>
	<%= link_to 'Back to Accounts', accounts_path %>
</div>