<!DOCTYPE html>
<html>
  <head>
    <title>FCBanking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'fc_banking', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div>
	<% if current_user %>
		 Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %> | <%= link_to "Home", root_url %>
	<% else %>
		 <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> | <%= link_to "Home", root_url %>
	<% end %>
  </div>
  
    <%= yield %>
  </body>
</html>
