<h1>Open a new account.</h1>
<div>
<%= form_for @account do |form| %>
	<% if @account.errors.any? %>
		<div class="error_messages">
			Form is invalid
			<p style="color: red;">
				<% for msg in @account.errors.full_messages %>
					<br><%= msg %>
				<% end %>
			</p>
		</div>
	<% end %>
	
	<div>
		<%= form.label :account_name, "Rename Your Account" %><br>
		<%= form.text_field :account_name %>
	</div>
	<div>
		Current Warning Threshold:<br>
		<%= number_to_currency(@account.warning_threshold, unit: "$") %>
	</div>
	<div>
		<%= form.label :warning_threshold, "Change Desired Warning Amount" %><br>
		$<%= form.number_field :warning_threshold, value: 0, step: 0.01 %>
	</div>
	<div><%= form.submit %></div>
<% end %>
</div>