<h1>Welcome to the Account Management Page</h1>
<div>
	<% if current_user %>
		<div>
			<%= link_to 'Open an account', new_account_path %><br>
		</div>
		<% if current_user.accounts.length > 0 %>
			<% if current_user.accounts.length >= 2 %>
				<%= link_to 'Transfer Funds', '/accounts/transactions/transfer' %><br><BR>
			<% end %>
			<h3>Current Accounts</h3>
			<% for account in current_user.accounts do %>
				<table style="display: inline;">
					<tr>
						<% account_name = account.account_name %>
						<% account_funds = number_to_currency(account.balance, :unit => "$") %>
						<% final_link_name = account_name + ": " + account_funds %>
						
						<% if account.balance < account.warning_threshold %>
							<td style="color: red;">Warning: 
						<% else %>
							<td>
						<% end %>
		
						<%= link_to final_link_name, account_path(account.id) %></td>
					</tr>
				</table>
			<% end %>
		<% else %>
			<h3>You currently have no open accounts.</h3>
		<% end %>
	<% else %>
		<% redirect_to '/login' %>
	<% end %>
</div>