<h1>Open a new account.</h1>
<div>
<%= form_for @account do |form| %>
	<% if @account.errors.any? %>
		<div class="error_messages">
			Form is invalid
			<p style="color: red;">
				<% for msg in @account.errors.full_messages %>
					<br><%= msg %>
				<% end %>
			</p>
		</div>
	<% end %>
	
	<div>
		<%= form.label :account_name, "Name Your Account" %><br>
		<%= form.text_field :account_name %>
	</div>
	<div>
		<%= form.label :account_type, "Account Type" %><br>
		<%= form.collection_select :account_type, Account::POSSIBLE_ACCOUNT_TYPES, :to_s, :to_s %>
	</div>
	<div>
		<%= form.label :balance, "Initial Account Balance" %><br>
		$<%= form.number_field :balance, value: 0, step: 0.01 %>
	</div>
		<div>
		<%= form.label :warning_threshold, "Desired Warning Amount" %><br>
		$<%= form.number_field :warning_threshold, value: 0, step: 0.01 %>
	</div>
	<div><%= form.submit %></div>
<% end %>
</div>