<h1>Your info</h1>
<div>
	<% if @account.account_type == "Savings" && @account.balance < @account.minimum_balance %>
		<h3 style="color: red;">Warning: You've fallen below the minimum balance required for this Savings Account!</h3>
	<% end %>

	<% if @account.balance < @account.warning_threshold %>
		<h3 style="color: red;">Warning: You've fallen below your desired threshold!</h3>
	<% end %>
	
	<h3><%= @account.account_name %></h3>
	
	<table>
		<tr><td>Account Type: <%= @account.account_type %></td></tr>
		<tr><td>Account Balance: <%= number_to_currency(@account.balance, :unit => "$") %></td></tr>
		<% if @account.account_type == "Savings" %>
			<tr><td>Minimum Required Balance: <%= number_to_currency(@account.minimum_balance, :unity => "$") %></td></tr>
			<tr><td>Account Interest Rate: <%= number_with_precision(@account.interest_rate, precision: 0) %>%</td></tr>
			<tr><td>Remaining Transactions This Month: <%= number_with_precision(@account.transaction_counter, precision: 0) %></td></tr>
		<% end %>
		<tr><td><%= link_to "View Transactions", '/accounts/' + @account.id.to_s + '/transactions' %></tr>
		<tr><td><%= link_to "Make a Transaction", '/accounts/' + @account.id.to_s + '/transactions/new' %></tr>
		<tr><td><%= link_to "Transfer Funds", '/accounts/transactions/transfer' %></tr>
		<tr><td><%= link_to "Edit Your Account", '/accounts/' + @account.id.to_s + '/edit' %></tr>
		<tr><td><%= link_to 'Close Account', account_path(@account), class: 'error', method: :delete, data: { confirm: 'Close account? All your funds will be forfeited.' } %></td></tr>
	</table>
	<br>
	<%= link_to 'Back to Accounts', accounts_path %>
</div>